.container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.todos {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #32c3cd;
    padding: 15px;
    border-radius: 5px;
    /* gap: 5px; */
}

.complete {
    background-color: #eb6750;
}

.todos__heading {
    font-size: 24px;
}

.drag-active {
    background-color: #00eeff
}

.drag-complete {
    background-color: #ff2600;

}

@media (max-width: 700px) {
    .todos {
        width: 95%;
    }
}